
<% if user_signed_in? %>
  <p>ログイン中</p>
  <%= link_to '食材一覧',foods_path , class: 'link' %>
  <%= link_to 'マイページ',users_profile_path , class: 'link' %>
  <%= link_to 'ログアウト',signout_path, data: { turbo_method: :delete, turbo_confirm: '本当にログアウトしますか？' }, class: 'link' %>

<% else %>
  <p>未ログイン</p>
  <%= link_to 'ログイン',new_user_session_path , class: 'link' %>
  <%= link_to '新規登録',new_user_registration_path , class: 'link' %>
  <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, data: { turbo_method: :post }, class: 'link' %>
<% end %>
