<button class="h-62 p-5 card mx-auto" onclick="image_modal.showModal()">
  <% if food.image_id.present? %>
    <span><%= image_tag food.image.image_url.url %></span>
  <% else %>
    <span><%= image_tag food.food_image_url %></span>
  <% end %>
</button>

<dialog id="image_modal" class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg mb-3">写真を変更します</h3>
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <%= form_with model: food, local:true do |f|%>
      <div class='flex items-center mx-auto max-w-xs mb-5'>
        <%= f.file_field :food_image, class: "file-input file-input-bordered w-full max-w-xs", accept: 'image/*' %>
        <%= f.hidden_field :food_image_cache %>
      </div>
        <div class='input input-bordered flex items-center gap-2 mx-auto max-w-xs'>
          <%= f.select :image_id, Image.all.map { |image| [image.image_name, image.id] }, { selected: nil, include_blank: 'デフォルトの画像を選択' }, class: "mx-auto text-center" %>
        </div>
      <%= f.submit "変更する", disable_with: '登録中...', class:"btn btn-outline btn-success mt-5"%>
    <% end %>
  </div>
</dialog>
