<div class="container mx-auto text-center">
  <h1 class="text-3xl font-bold text-center my-5">食品の在庫リスト</h1>
  <%= render 'shared/ransack' %>
  <div class="container mx-auto p-4">
    <div class="grid grid-cols-1 gap-1 md:grid-cols-3 md:gap-4">
      <% @foods.each do |food| %>
        <!-- モバイルビュー用のコンテンツ -->
          <div class="block md:hidden bg-gray-100 rounded-lg shadow-lg p-4 mb-4 transition-transform transform hover:translate-y-[-5px] hover:shadow-xl">
            <%= link_to food_path(food) do %>
              <div class="grid grid-cols-2 gap-4 items-center">
                <h2 class="text-2xl font-semibold text-gray-800 mb-1 ml-3 justify-self-start"><%= food.name %></h2>
                <svg class="justify-self-end" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368">
                  <path d="M240-400q-33 0-56.5-23.5T160-480q0-33 23.5-56.5T240-560q33 0 56.5 23.5T320-480q0 33-23.5 56.5T240-400Zm240 0q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm240 0q-33 0-56.5-23.5T640-480q0-33 23.5-56.5T720-560q33 0 56.5 23.5T800-480q0 33-23.5 56.5T720-400Z"/>
                </svg>
              </div>
              <div class="grid grid-cols-3 ">
                <% if (food.expiration_date - Date.today).to_i >= 0 %>
                  <p class="text-gray-600">
                    あと<%= (food.expiration_date - Date.today).to_i %>日
                  </p>
                <% else %>
                  <p class="text-red-500 text-sm pt-1">期限切れ<%= (food.expiration_date - Date.today).to_i.abs %>日経過</p>
                <% end %>
                <p class="text-gray-600">数量：<%= food.quantity %></p>
                <p class="text-gray-600"><%= t("activerecord.attributes.food.storages.#{food.storage}") %></p>
              </div>
            <% end %>
          </div>

        <!-- デスクトップビュー用のコンテンツ -->
        <div class="hidden md:block">
          <div class="flex justify-center">
            <div class="card w-80 bg-base-100 shadow-xl">
              <figure class="p-5 bg-primary-content">
                <%= image_tag food.food_image_url, class: "w-36 h-36" %>
              </figure>
              <div class="card-body items-center text-center">
                <h2 class="card-title"><%= food.name %></h2>
                <p>数量：<%= food.quantity %></p>
                <% if (food.expiration_date - Date.today).to_i >= 0 %>
                  <p class="text-gray-600">
                    期限：<%= food.expiration_date %>
                    (あと<%= (food.expiration_date - Date.today).to_i %>日)
                  </p>
                <% else %>
                  <p class="text-red-500 text-sm pt-1">期限切れ<%= (food.expiration_date - Date.today).to_i.abs %>日経過</p>
                <% end %>
                <p>保存場所：<%= t("activerecord.attributes.food.storages.#{food.storage}") %></p>
                <div class="card-actions">
                  <%= link_to "詳細", food_path(food), class: "btn btn-outline btn-success btn-xs sm:btn-sm md:btn-md lg:btn-lg" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
<div class="mt-5 bg-base-300">
  <%= paginate @foods %>
</div>
