<div class="container mx-auto text-center">
  <h1 class="text-3xl font-bold text-center my-5">新規登録</h1>
  <%= form_with model: @food, local:true do |f|%>
    <div class="field my-11">
      <div class='input input-bordered flex items-center gap-2 mx-auto max-w-xs'>
        <%= f.label :name, '食材' %>
        <%= f.text_field :name, class:"text-area mx-auto text-center ", placeholder: "食材名" %>
      </div>
    </div>

    <div class="field my-11">
      <div class='input input-bordered flex items-center gap-2 mx-auto max-w-xs'>
        <%= f.label :quantity, '数量' %>
        <%= f.number_field :quantity, class:"mx-auto text-center", placeholder: "0" %>
      </div>
    </div>

    <div class="field my-11">
      <div class='input input-bordered flex items-center gap-2 mx-auto max-w-xs'>
        <%= f.label :expiration_date, '期限' %>
        <%= f.date_field :expiration_date, class:"mx-auto text-center"%>
      </div>
    </div>

    <div class="field my-11">
      <div class='input input-bordered flex items-center gap-2 mx-auto max-w-xs'>
        <%= f.label :storage, '保管場所' %>
        <%= f.select :storage, Food.storages.keys.map { |key| [I18n.t("activerecord.attributes.food.storages.#{key}"), key] }, { selected: Food.storages.keys.first }, class:"mx-auto text-center" %>
      </div>
    </div>

    <%= f.submit "登録する", disable_with: '登録中...', class:"btn btn-outline btn-success"%>
  <% end %>
</div>
