<div class="container mx-auto text-center">
  <h1 class="text-3xl font-bold mt-5">食材詳細</h1>
    <div class=" justify-center">
      <%= render partial: 'edit_image_modal', locals: { food: @food } %>
    </div>

  <div class="flex flex-row justify-center">
    <div class="grid flex-grow max-w-96 font-semibold p-5">
      <p>食材名</p>
      <%= render partial: 'edit_name_modal', locals: { food: @food } %>
    </div>
    <div class="grid flex-grow max-w-96 font-semibold p-5">
      <p>在庫数</p>
      <%= render partial: 'edit_quantity_modal', locals: { food: @food } %>
    </div>
  </div>

  <div class="flex flex-row justify-center">
    <div class="grid flex-grow max-w-96 font-semibold p-5">
      <p>消費期限</p>
      <%= render partial: 'edit_expiration_modal', locals: { food: @food } %>
    </div>
    <div class="grid flex-grow max-w-96 font-semibold p-5">
      <p>保存場所</p>
      <%= render partial: 'edit_storage_modal', locals: { food: @food } %>
    </div>
    <div class="grid flex-grow max-w-96 font-semibold p-5">
      <p>カテゴリー</p>
      <%= render partial: 'edit_category_modal', locals: { food: @food } %>
    </div>
  </div>
  <%= link_to t('foods.destroy'), food_path(@food), data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm')}, class: "btn btn-outline btn-error btn-md mb-5"%>
  <%= link_to "戻る", :back, class: 'btn btn-outline'  %>
</div>
