<div class="container mx-auto text-center">
  <h2 class="my-11 text-3xl font-bold">パスワードを忘れてしまった方へ</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>
    <div class="field my-11">
      <label class="input input-bordered flex items-center gap-2 mx-auto max-w-xs">
        <svg class="h-4 w-4 text-gray-500"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"/>
        </svg>
        <%= f.email_field :email, class: "grow", placeholder: "登録メールアドレスを入力", autofocus: true, autocomplete: "email" %>
      </label>
    </div>

    <div class="actions">
      <%= f.submit "再設定メールを送信する", class:"btn btn-outline my-3" %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
</div>
